@font-face {
    font-family: "PlayfairDisplay";
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Abel";
    src: url(/fonts/Abel-Regular.ttf);
}

@font-face {
    font-family: "Tangerine";
    src: url(/fonts/Tangerine-Bold.ttf);
}
@font-face {
    font-family: "ShareTech";
    src: url(/fonts/ShareTech-Regular.ttf);
}
@font-face{
    font-family: "EduSAHand";
    src: url(/fonts/EduSAHand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Helvetica-light";
    src: url(/fonts/helvetica-light-587ebe5a59211.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(/fonts/Helvetica.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Regular.ttf);
}
*{
    box-sizing: border-box;
    word-wrap: break-word;
}

body{
    margin: 0;
    padding: 0;
}

html, body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: white;
    overflow-x: hidden;
    
}

.profile-pic{
    position: absolute;
    height: auto;  
    bottom: 10;  
    
                                                                                        
}

@keyframes subtle-shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}


/* optional: agar custom glow chahiye */
.nav-border-active {
  box-shadow: 0 2px 0 rgba(251,191,36,0.8); /* amber-100 */
}


.View-2 {
   width: 100%;
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
}

.View-2 .marquee {
    display: flex;
    width: 90%;              /* default mobile */
    max-width: 600px;        /* desktop limit */
    overflow: hidden;
    position: relative;

    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
}

.View-2 .marquee .text {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    animation: marquee 12s linear infinite;
}

.View-2 .marquee .text a {
    font-size: 1.2rem;   /* mobile base */
    font-weight: 300;
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 640px) {
  .View-2 {
    padding: 1.5rem 1rem;   /* yahin main fix */
    margin-top: -10rem; 
    margin-bottom: 11rem;     /* image ke thoda paas laane ke liye */
  }

  .View-2 .marquee {
    width: 80%;            /* mobile me zyada visible */
  }

  .View-2 .marquee .text a {
    font-size: 1.2rem;     /* text bhi chhota */
  }

}

@media (min-width: 641px) and (max-width: 1024px) {
  .View-2 .marquee {
    width: 70%;
  }

  .View-2 .marquee .text a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1025px) {
  .View-2 .marquee {
    width: 35%;
  }

  .View-2 .marquee .text a {
    font-size: 2rem;
  }
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
